.se
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.se .sei img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}